@use "color" as color;

$color-blossom: #ffffff;
$color-fade: #c9c9c9;

$color-bg: color.$oc-gray-9;
$color-bg-alt: color.$oc-gray-8;

/* $color-text: #dedce5; */
$color-text: color.$oc-gray-0;
$font-size-base: 1.8rem;

$font-family-base: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
$font-family-heading: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
$font-family-monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

@import "main";